
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Burası kendi oluşturduğum test 3 sayfasıdır-ysm</h1>

<table>

<tr>
    <th>ID</th>
    <th>AD</th>
    <th>DEPARTMAN</th>
</tr>
<tr>
    <td>1</td>
    <td>Ysm</td>
    <td>Yazılım</td>
</tr>
<tr>
    <td>2</td>
    <td>Ayşe</td>
    <td>Analist</td>
</tr>





</table>

